*.o
*.or
*.a
*~
Makefile
bin/
include/
scripts/config.info
src/AST/ASTKind.cpp
src/AST/ASTKind.h
src/AST/depend
src/STPManager/depend
src/absrefine_counterexample/depend
src/c_interface/depend
src/extlib-abc/depend
src/extlib-constbv/depend
src/main/depend
src/main/versionString.cpp
src/parser/cvc.output
src/parser/cvc.tab.c
src/parser/cvc.tab.h
src/parser/lex2SMT.cpp
src/parser/lexCVC.cpp
src/parser/lexSMT.cpp
src/parser/parse2SMT_defs.h
src/parser/parseCVC.cpp
src/parser/parseCVC_defs.h
src/parser/parseSMT_defs.h
src/parser/smt.output
src/parser/smt.tab.c
src/parser/smt.tab.h
src/parser/smt2.output
src/parser/smt2.tab.c
src/parser/smt2.tab.h
src/printer/depend
src/sat/core/depend.mk
src/sat/simp/depend.mk
src/simplifier/depend
src/to-sat/depend
